$font-color: #444;
@import "./Media.module.scss";

@media screen and (max-width: 56.2em) {
    // 899px
    .aboutUs{
        display: none !important;
    }
    .footerBottom{
        flex-direction: column !important;
        align-items: center;
    }
}
@media screen and (max-width: 39.95em) {
    // 639px
    .footerTitles{
        font-size: 1.3em !important;
    }
    .footerBottom{
        font-size: .7em !important;
    }
}
@media screen and (max-width: 25em) {
    // 400px
    .footer{
        font-size: .9em !important;
    }
    .footerTitles{
        font-size: 1em !important;
    }
    .footerBottom{
        font-size: .6em !important;
    }
}

.footerContainer {
    background-color: #5c626c;
    width: 100%;
    min-height: 300px;
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        line-height: 2;
        color: #fff;
        padding: 15px;
        text-align: justify;
        .footerTitles {
            font-size: 1.5em;
            width: 80%;
            padding: 0 10px 10px 0;
            border-bottom: 1px solid #ffffff30;
            margin-bottom: 20px;
        }
        .aboutUs {
            flex: 2;
            p {
                width: 80%;
            }
        }
        .footerMenu {
            flex: 1;
            ul {
                list-style: none;
                margin: 0 15px;
                padding: 0;
                a {
                    color: #fff;
                }
                a:hover {
                    color: #b9b9b9;
                }
            }
        }
        .contactUs {
            flex: 1;
        }
    }
}
.footerContactItems{
    padding: 0 5px;
    span{
        display: inline-block;
        direction: ltr;
    }
}
.footerBottom {
    background-color: #373d44;
    color: #fff;
    padding: 25px;
    div{
        display: flex;
        justify-content: space-between;
    }
    .footerIcons {
        font-size: 13pt;
        display: flex;
        justify-content: space-between;
        width: 100px;
        a{
            color: #fff;
        }
    }
}
