.latestPost{
    width: 100%;
    .title{
        width: 100%;
        text-align: center;
    }
    .carousel{

        .carousel__controls{

            .controls__button{

            }
        }
        .carousel__wrapper{

            .carousel__item{

            }
        }
    }
}