$font-color: #444;
$primary-color: #3fc58d;
@import "./Media.module.scss";

@media screen and (min-width: 1200px) {
    .article {
        width: calc(25% - 20px);
    }

    .articlesHead {
        .title {
            font-size: 1.2em !important;
        }

        a {
            font-size: 1em !important;
        }
    }
    .newsContainer {
        margin: 30px auto !important;
    }
}

@media screen and (min-width: 680px) and (max-width: 1199px) {
    .article {
        width: calc(50% - 20px);
    }

    .articlesHead {
        .title {
            font-size: 1.1em !important;
        }

        a {
            font-size: .9em !important;
        }
    }
    
}

// **** articles section

.articlesHead {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 1em;
        font-weight: bold;
        border-bottom: 3px solid $primary-color;
        padding: 15px;
    }

    a {
        color: #2980b9;
        font-weight: 500;
        font-size: .8em;
    }

    a:hover {
        opacity: .8;
    }
}

.articles {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .08);
    border-radius: 15px;
    background-color: #fff;
    margin: 10px;

    footer {
        padding: 10px;
        display: flex;

        div {
            margin-right: 3px;
        }
    }
}

.articleImage {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transition: transform .5s;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.articleContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -10px;
    position: relative;
    background-color: #fff;

    .subject {
        font-size: .8em;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .title {
        font-size: 1.1em;
        font-weight: 500;
    }

    .tags {
        a {
            font-size: .75em;
            color: #999;
            font-weight: 500;
        }

        a:hover {
            color: $font-color;
        }
    }
}

.likes:hover {
    color: #ff0000;
    cursor: pointer;
}


// **** News section

.newsContainer {
    margin: 30px 10px;
}

.header {
    font-size: 1.1em;
    background-color: #3fc58d;
    display: inline-block;
    font-weight: 700;
    text-shadow: 2px 2px 2px #BABABA;
    padding: 5px 10px;
    color: #fff;
    vertical-align: bottom;
}

.news {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-top: 3px solid #3fc58d;
    padding-top: 10px;
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
}

.newsBox {
    margin: 10px 7%;
    width: 80%;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    display: inline-block;
    position: relative;
    right: -90%;
    left: 0;
    transition: left 2s;
    transition: right 2s;
}

.newsImage {
    height: 200px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.triangleBottomright {
    display: inline-block;
    width: 0;
    border-bottom: 35px solid #3fc58d;
    border-left: 22px solid transparent;
    vertical-align: bottom;
}

.newsDate {
    font-size: 0.7em;
    opacity: 0.7;
    padding: 5px;

    .date {
        border-left: 1px solid #b9b8b8;
        padding: 0 10px;
    }

    .comment {
        padding: 0 10px;

        span {
            padding: 0 5px;
        }
    }
}

.newsTitle {
    font-size: 1.1em;
    font-weight: 700;
    padding: 0 15px;
}

.newsFooter {
    display: flex;
    height: 45px;
    background-color: #fff;
    align-items: center;
    padding: 0 15px;
    position: relative;

    .footerLine {
        border: 1px solid #c3f7e1;
        height: 0;
        width: 100%;
    }

    .carouselButtons {
        text-align: center;
        padding: 5px;
        position: absolute;
        left: 5%;

        .left,
        .right {
            background: #000;
            color: #fff;
            padding: 2px 10px;
            width: 10px;
            margin-right: 2px;
        }

        .left:hover,
        .right:hover {
            cursor: pointer;
        }

        .left:active,
        .right:active {
            -webkit-box-shadow: inset 0px 0px 10px #9a9a9a;
            -moz-box-shadow: inset 0px 0px 10px #9a9a9a;
            box-shadow: inset 0px 0px 10px #9a9a9a;
        }
    }
}

//carousel animation andresponsive
@media screen and (min-width: 1200px) {
    .newsBox {
        width: calc(25% - 20px) !important;
        margin: 10px !important;
        right: -25% !important;
    }
    .right{
        right: -50% !important;
        transition: right 1s;
    }
    .left{
        right: 0 !important;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsBox {
        width: calc(33% - 20px) !important;
        margin: 10px !important;
        right: -33% !important;
    }
   
}
@media screen and (min-width: 600px) and (max-width: 767px){
    .newsBox {
        width: calc(50% - 20px) !important;
        margin: 10px !important;
        right: -50% !important;
    }
    
}
